@import "tailwindcss";

@theme {
    --color-pure-black: #050505;
    --color-dark-gray: #1a1a1a;
    --color-accent-red: #660000;
    --color-ink-depth: #0f0f0f;
    --color-muted-gold: #85754e;

    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;
}

.glass {
            background: rgba(5, 5, 5, 0.9);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }
        
/* Efecto de grano para dar textura "oscura" */
.grainy-bg {
    background-image: url('./../public/img/grano.png');
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { background: #333; }
::-webkit-scrollbar-thumb:hover { background: #660000; }