* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    div {
        display: flex;
        justify-content: space-around;
        width: 20%;
    }
}

a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.5em;
    color: #7a7a7a;
    background-color: #373737;
    border-radius: 50%;
    transition: color 0.5s ease-in-out;
}

@property --fill {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

a:hover {
    color: greenyellow;
    --fill: 100%;
}

a::after {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -3px;
    border-radius: inherit;

    background: conic-gradient(greenyellow var(--fill), transparent var(--fill));
    transition: --fill 0.6s ease-in-out;
}