*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.copia{
    width: 100%;
}

/*BODY*/
body{
    color: white;
}

/*HEADER*/
header{
    background-color: #205475;
    padding: 10px 10%;
}

header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 20%;
}

nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

/*BANNER*/
.banner{
    background: url("./img/DSTS_header-desktop.png");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    display: flex;
    align-items: end;
}

.banner > div{
    background-color: #205475c0;
    text-align: center;
    width: 100%;
    padding: 30px 10%;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p{
    font-size: 1.2rem;
    width: 75%;
    margin: auto;
}

/*TRAILER*/
.trailer{
    color: black;
    padding: 30px 10%;
    display: flex;
}

.trailer-img{
    background: url("./img/DSTS_PreorderTrailer_Thumbnail.png");
    background-size: cover;
    background-position: center center;
    width: 65%;
    aspect-ratio: 1.7/1;
    border-radius: 20px;
}

.trailer-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 0;
}

button.trailer{
    width: 35%;
    margin: auto;
    text-align: center;
    background-color: #205475;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

/*OPINION*/
.opinion{
    background-color: #205475;
    padding: 30px 10%;
    color: black;
    text-align: center;
}

.opinion > h2{
    margin-bottom: 20px;
}

.opinion > div{
    display: flex;
    justify-content: center;
}

.opinion form{
    display: flex;
    gap: 20px;
}

.opinion fieldset{
    border-radius: 20px;
}